<mat-toolbar>
  <img class="logo" src="assets/maersk_primary_logo.png" />
  Task Board
</mat-toolbar>
<div class="contents">
  <mat-card class="section">
    <div mat-card-title class="card-title">I did it!</div>
    <mat-card-content>
      <div class="done-cards-flex-container">
        <mat-card class="done-card" *ngFor="let item of todoList.completed">
          <div mat-card-title class="done-card-title">
            <mat-checkbox
              color="warn"
              [(ngModel)]="item.completed"
              (change)="unMarkAsCompleted($event, item, todoList)"
              [value]="item"
            ></mat-checkbox>
          </div>
          <mat-card-content class="done-card-content">
            {{ item.todo }}
          </mat-card-content>
        </mat-card>
        <div class="empty-record" *ngIf="!todoList?.completed?.length">
          Hey! None of your todos is done yet!
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="section">
    <div mat-card-title class="card-title">To Do</div>

    <mat-card-content>
      <div class="todos-list-container">
        <div
          class="todo-item"
          *ngFor="let item of todoList.pending"
          [ngClass]="{ 'fade-out': item.completed }"
        >
          <mat-checkbox
            color="primary"
            [(ngModel)]="item.completed"
            [disabled]="item.completed"
            (change)="markAsCompleted($event, item, todoList)"
            >{{ item.todo }}</mat-checkbox
          >
        </div>
        <div class="empty-record" *ngIf="!todoList?.pending?.length">
          Great, you finished your todos!
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<footer>
  Task Board by <b>{{ author }}</b>
</footer>
